body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Noto Sans Korean', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #007448;
}

html {
  scroll-behavior: smooth;
}

html, body {
    height: 100vh;
    height: var(--vh);
}

#root {
  width:100vw;
  --vh: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  box-sizing: border-box;
  margin: 0;
}

a , h1, h2, h3, h4, h5, h6, p, span, li {
  color: #fff;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
